---
layout: page
permalink: /category/News/
redirect_from: /news
title: LACPS News and Announcements
exclude: true
---

{% for post in site.categories.News %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
